@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
.App {
  text-align: center;
  overflow-y: scroll;
  height: 100%;

}
html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.jumbtron {
margin-top: 51px;
}

.App-link {
  color: #09d3ac;
}

.fadeOut{
  opacity:0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.container#page {
  display: flex;
  width:80%;
  flex-direction: column;
  align-content: center;
  margin-left:10%;
}


.container {
  display: inherit;
  justify-content: center;
}

.container#nav {
  display: inherit;
  justify-content: left;
}
#brand{
  padding-right: 50%;
}

.container#progress{
  margin-top:7.5% !important;
  margin-bottom: 7.5%;
}

#myProgress {
  width: 60%;
  height: 36px;
  background-color: black;
  border-radius: 22px;;
}

#myBar {
  position: relative;
  justify-content: left;
  margin-top:3px;
  margin-left:3px;
  background-color: blueviolet;
  width: 33%;
  height: 30px;
  border-radius:20px;
}

.container#progress {
  margin-top: 15%;
}

.container#brief {
  margin-top: 15%;
  justify-content: space-between;
}

.brief-p {
  position: relative;
  width: 40%;
  text-align: left;
}

.brief-img{
  position: relative;
  margin-top:5%
}
ul#members-list{
  padding-left: 0;
  list-style-type: none;
}
.container#team {
  margin-top: 7.5%;
  justify-content: space-between;
  gap:5%;
}
.team-text{
  flex-direction: column;
  text-align: left;
}

h3.section-heading{
  text-decoration: underline;
}

.team-img{
  border-radius: 50%;
  background-color: #09d3ac;
  width:6rem;
  height:6rem;

}
.container#purchase-guide {
  margin-top: 7.5%;
  justify-content: space-between;
  text-align: left;
}

.links{
  margin-top:2.5%;
}
.link{
  display: flex;
  justify-content: center ;
  text-align: center;
  flex-direction: column;
  height:50px;
  width:250px;
  background-color: rgb(43, 42, 42);
  border-radius: 9px;
}
.hyperlink{
  text-decoration-color: black;
  color:white
}
#purchase-steps{
  padding-left: 0;
  list-style-type: none;
}
.link#metamask{
  margin-top: 5.5%;
}

#card-footer{
  position: absolute;

}
.fadeIn{
  opacity:1;
}


.sky {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#7F00FF,#3751e0);
  overflow: hidden;
  background-attachment:fixed;
}

.sky i {
  position: absolute;
  background: #fff;
  border-radius: 50%;   
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  10%,90% {
      opacity: .5;
  }
  100% {
      opacity: 0;
      transform: translateY(-100px);
  }
}

.vh {
  margin-bottom: 0;
  background:#FFF ;
}
html, body {
  overscroll-behavior: none;
}