@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.jumbtron {
margin-top: 51px;
}
#hero-btn-grp {
  display: block;
  

}

.App-link {
  color: #09d3ac;
}

.fadeOut{
  opacity:0;


}
.fadeIn{
  opacity:1;
}


.stars-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#111425,#3751e0);
  overflow: hidden;
  background-attachment:fixed ;
}

.stars-bg i {
  position: absolute;
  background: #fff;
  border-radius: 50%;   
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  10%,90% {
      opacity: .5;
  }
  100% {
      opacity: 0;
      transform: translateY(-100px);
  }
}

html, body {
  overscroll-behavior: none;
}