@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.App {

  text-align: center;
  overflow-y: scroll;
  height: 100%;
  background-color: #0A0818; /*#121212;#7C83FD*/
 
}
html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
}


.App-header {
  background-color: #0A0818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.jumbtron {
  margin-top: 51px;

}

#card-footer{
  right: 60%;
  left: 5%; 
  top: 80vh; 
  border-radius: 10%;
  position: absolute;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.11);
}


.trigger-purchase {
  position:absolute;
  top: 50%;
  left: 50%;
}


.fadeOut{
  opacity:0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}


.fadeIn{
  
  opacity:1;
}


/* 
 ######################################

  About Page

 ######################################
 */

.container {
  font-family: 'Acme', sans-serif;
  display: inherit;
  justify-content: center;

}

h1,h2 {
  font-weight: bolder !important;
  
}

b {
  font-weight: bolder;
}

.container#page {
  display: flex;
  width:80%;
  flex-direction: column;
  align-content: center;
  margin-top:10%;
  margin-left:12%;
}
.section-heading{
  font-size: 3.5vw;
}

@media (max-width: 900px){
  .section-heading{
    font-size: 8vw;
  }
}


/* 
  ######################################

    Intro Page  

  ######################################
*/

.container#intro {
  position: relative;
  color: white;
  font-size: 1.8vw;
  margin-top: 5%;
}
/* 
  ######################################

   Nav Bar 

  ######################################
*/

 .nav-bar-img {
   position: relative;
   filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(206deg) brightness(106%) contrast(101%);
   height: 2vh; 
   right: 25px;
} 

.nav-bar-img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.18);
}

/* .contianer-nav-button {
  width: 200px;
  float: right;
  padding-top: 5px;
} */

.contianer-navBar{
    width: auto;
    float: right;
    padding-top: 2px;
} 

.nav-link {
  color:rgb(255, 255, 255) !important;
  border-radius: 9px;
}

.nav-link > h3 {
  font-weight: bolder !important;
  font-size: 1rem;
  z-index: 1000;
} 

@media (max-width: 900px){
  .contianer-navBar {
    visibility: hidden;
  }
}


/* 
  ######################################

    Progress Bar  

  ######################################
*/

.container#progress{

  margin-top:15% !important;
  margin-bottom: 7.5%;

}

.progress-amount{

  padding-left: 3%;
}

#myProgress {
  width: 100%;
  height: 36px;
  background-color:white;
  border-radius: 22px;;
  box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
}
#myProgress:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.18);
}


#myBar {
  position: relative;
  justify-content: left;

  background-color: #7C83FD;
  width: 33%;
  margin-top: 2px;
  margin-left: 2px;
  height: 32px;
  border-radius:20px;
  text-align: left;
  
}
/* 
  ######################################

  PreSale Page 

  ######################################
*/

.presale-container {
  display: flex;
  justify-content: center;
}

/* 
  ######################################

    Brief Description  

  ######################################
*/

.container#brief {
  padding: 5%;
  color: #0A0818;  
  border-radius: 9px;
  justify-content: space-between;
  background-color: #7C83FD;
  box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
}

.brief-p {
  position: relative;
  width: 60%;
  text-align: left;
  font-size: larger;
}

.brief-p .section-heading {
  margin-bottom: 6%;
}

.brief-img{
  position: relative;
  margin-top: 0%;
  width: 35%;
}

@media (max-width: 900px){
  .container#brief {
    padding: 5%;
    border-radius: 9px;
    background-color: #7C83FD;
    box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
  }

  .brief-p {
    position: relative;
    width: 100%;
    text-align: left;
  }
  
  .brief-img{
    position: relative;
    margin-top: 2%;
    width: 100%;
  }

}

/* 
  ######################################

    Team Information 

  ######################################
*/
.creator {
  width: 100%;
  border-bottom-left-radius: 20% !important;
  display: flex;
  flex-direction: row;
  gap: 2%;
}



/* .creator-contianer {
  width: 40%;
} */

.creator .card-img-top {
  margin-top: 5%;
  width: 90%; 
  margin-left: 5%;
  border-radius: 8px;

}

.creator img {
  height: auto;
  width: 95%;
}


.container#team {
  color: #0A0818;  
  margin-top: 7.5%;
  justify-content: space-between;
  gap: 5%;
  background-color: #7C83FD;
  box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
  padding: 5%;
  border-radius: 9px;
  
}
.team-text{
  flex-direction: column;
  text-align: left;
}

.creator-contianer {
  text-align: right;
}

.top-container {
  display: flex;
  justify-content: space-around;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-button {
  position: absolute;
  text-align: left;
  top: 83%;
}

.card-img {
  filter: invert(4%) sepia(6%) saturate(7455%) hue-rotate(212deg) brightness(104%) contrast(102%);
}

@media (max-width: 900px){
  .creator{
    flex-direction: column;
  }

  .creator-contianer {
    margin-top: 10%;
  }
}



/* 
  ######################################

    Gallery  

  ######################################
*/
.container#gallery {
  color: #0A0818;  
  margin-top: 7.5%;
  justify-content: space-between;
  background-color: #7C83FD;
  box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
  padding: 5%;
  border-radius: 9px;
  
}

.gallertImage {
  border-radius: 10px;
}

/* 
  ######################################

    Purchase Guide  

  ######################################
*/

.container#purchase-guide {
  margin-top: 7.5%;
  justify-content: space-between;
  text-align: left;
  background-color: #7C83FD;
  color: #0A0818;  
  padding: 5%;
  border-radius: 9px;
  margin-bottom: 7.5%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
}

.brief-img{
  background-color:black ;
}

.links{
  margin-top:2.5%;
}
.link{
  display: flex;
  justify-content: center ;
  text-align: center;
  flex-direction: column;
  height:50px;
  width:250px;
  background-color: #0A0818;
  border-radius: 9px;
}
.link:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hyperlink{
  text-decoration-color: black;
  color:white;
}
#purchase-steps{
  padding-left: 0;
  list-style-type: none;
}
.link#metamask{
  margin-top: 5.5%;
}

@media (max-width: 900px){
  .container#purchase-guide {
    margin-top: 7.5%;
    justify-content: space-between;
    text-align: left;
    color: #0A0818;  
    padding: 5%;
    border-radius: 9px;
    margin-bottom: 7.5%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
  }
}
.sky {
  position: relative;
  width:100%;
  height: 47vw; /*40vh;*/ /*FIGURE HOW TO SCALE SIZE ON PHONE*/
  background: linear-gradient(#000957,#454768);
  overflow: hidden;
  background-attachment:fixed;
}

.sky svg {
  position: absolute;
  z-index: 900; 
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: translate3d(0,0,0);
  }
  10%,90% {
      opacity: .5;
  }
  100% {
      opacity: 0;
      transform: translate3d(100px, -100px, 0);
  }
}

.sky .MCWButton{
  font-family: 'Acme', sans-serif;
  margin: 0;
  position: absolute;
  bottom: -1%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2000;
  
}




.background {
  width:100%;
  height: auto; /*TO FIX WELL FROM FLOATING*/
  position: absolute;
  z-index: 950;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events:none;
}

.stars {
  height: auto;
  z-index: 902;
  position: absolute;

}

.well {
  animation: glow 2s infinite alternate;;
  width: 25%;
  height: auto;
  position:absolute;
  bottom: 10%;
  left: 0;
  z-index: 940;
  right: 0;
  margin:auto;
  pointer-events:none;
}

.mcw {
  position: absolute;
  z-index: 1000;
  height: 17%;
  top: 10%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 900px){
  .sky .MCWButton{
    bottom: -10%;    
  }
  .mcw {
    height: 20%;
    top: 15%;
    left: 15%;
  }

}

.moon {
  width: 6%;
  height: auto;
  position: absolute;
  left: 8%;
  top: 10%;
  z-index: 920;
  filter: drop-shadow(0px 0px 50px rgba(248, 248, 248, 0.699));
  pointer-events:none;
}

.cl {
  width: 27%;
  height: auto;
  z-index: 960;
  position: absolute;
  
  pointer-events: none;
}


@keyframes glow {
  from {
    filter: drop-shadow(8px 8px 100px rgba(241, 255, 160, 0.1));
  }

  to {
    filter: drop-shadow(8px 8px 100px rgba(255, 215, 0, 0.70));
  }
  
}

.vh {
  background-color: white;
  margin-bottom: 0;
  
}
html, body {
  overscroll-behavior: none;
}

/* 
  ######################################

    Footer  

  ######################################
*/

.footer-logo {
  position: relative;
  bottom: 50%;
  width: 40%;
}

.footer-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(206deg) brightness(106%) contrast(101%);
}

@media (max-width: 900px){
  .footer-logo {
    bottom: 10%;
    width: 70%;
  }

}


hr {
  border-color: white;
}


.modal-content > .timer-container  {
  font-size: 100% !important;
  margin-top: 0%;
  box-shadow: none;
  justify-content: space-evenly;

}
.modal-content > .timer-container > .time-container {
  box-shadow: none;
  background: none;
}

.modal-content > .timer-container > .time-container > .time-value > span {
  font-size: 200%;
}

button > span {
  font-weight:normal;
  font-size: 100%;
}
.modal-footer {
  border-top: 0px;
}
