

/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.json
client/src/contracts/AccessControl.json
client/src/contracts/Address.json
client/src/contracts/Context.json
client/src/contracts/Counters.json
client/src/contracts/ERC165.json
client/src/contracts/ERC721.json
client/src/contracts/ERC721Enumerable.json
client/src/contracts/IAccessControl.json
client/src/contracts/IERC165.json
client/src/contracts/IERC721.json
client/src/contracts/IERC721Enumerable.json
client/src/contracts/IERC721Metadata.json
client/src/contracts/IERC721Receiver.json
client/src/contracts/Migrations.json
client/src/contracts/MyWish.json
client/src/contracts/PaymentSplitter.json
client/src/contracts/SafeMath.json
client/src/contracts/Strings.json
client/src/contracts/Strings.json
client/src/contracts/SafeMath.json
client/src/contracts/PaymentSplitter.json
client/src/contracts/MyWish.json
client/src/contracts/Migrations.json
client/src/contracts/IERC721Receiver.json
client/src/contracts/IERC721Metadata.json
client/src/contracts/IERC721Enumerable.json
client/src/contracts/IERC721.json
client/src/contracts/IERC165.json
client/src/contracts/IAccessControl.json
client/src/contracts/ERC721Enumerable.json
client/src/contracts/ERC721.json
client/src/contracts/ERC165.json
client/src/contracts/Counters.json
client/src/contracts/Context.json
client/src/contracts/Address.json
client/src/contracts/AccessControl.json
